name: CICD - Dot Net Project
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    # runs-on: windows-latest
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Restore dependencies
        run: dotnet restore

      - name: Build Project
        run: dotnet build --configuration Release

      - name: Publish Project
        run: dotnet publish -c Release -o ./publish

      - name: Create zip file
        run: |
          cd publish
          zip -r ../chola-app.zip .
      - name: Upload zip file to packages
        uses: actions/upload-artifact@v4
        with:
          name: chola-app
          path: chola-app.zip
  deploy:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Download Artifact
          uses: actions/download-artifact@v4
          with:
            name: chola-app
            path: ./artifact
            
        - name: Deploy to Azure Web App
          uses: azure/webapps-deploy@v2
          with:
             app-name: "cholaapp"
             publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
             package: "./artifact/chola-app.zip"
        

          
